
@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../font/RobotoCondensed-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'RobotoCondensed-bold';
    src: url('../font/roboto/RobotoCondensed-Bold.ttf') format('woff2'),
         url('../font/roboto/RobotoCondensed-BoldItalic.ttf') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ubuntubold';
    src: url('../font/ubuntu/ubuntu-bold-webfont.woff2') format('woff2'),
         url('../font/ubuntu/ubuntu-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntumedium';
    src: url('../font/ubuntu/ubuntu-medium-webfont.woff2') format('woff2'),
         url('../font/ubuntu/ubuntu-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    margin: 0;
    font-family: 'RobotoCondensed-Regular';
}

header{
    position: sticky;
    top: 0px;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: hsla(0, 0%, 90%, 0.886);
    background-blend-mode: lighten;
    position: sticky;
    top: 0px;
}

.background{    
    background: hsl(0, 0%, 70%) url(../img/wallpaperflare.com_wallpaper\ \(4\).jpg);
    background-size: cover;
    background-blend-mode: darken;
}

.fristSection{
    height: 70%;
    justify-content: space-around;
}

.logo img{
    height: 50px;
    width: 50px;
    border: 1px solid hsl(0, 9%, 73%);
    border-radius: 50%;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list li{
    padding: 10px;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}

.nav-list li:hover{
    transform: scale(1.5);
    transition: 1000ms;
}

.nav-list li a{
    text-decoration: none;
    color: black;
}

.nav-list-a:hover{
    color: hsl(0, 0%, 100%);
}

.search-contener{
    display: inline;
    text-align: right;
    align-self: center;
}

.search{
    border-radius: 5px;
}

.box-main{
    padding-top: 20px;
    width: 65%;
    margin: auto;
    color: hsl(0, 70%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fristHalf{
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.text-big{
    font-family: 'RobotoCondensed-bold';
    font-size: 40px;
    margin: 5px;
}

.text-small{
    width: 98%;
    font-size: 18px;
}

.secondHalf{
    width: 40%;
}

.secondHalf img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid snow;
    margin: auto;
}

.btn{
    padding: 6px 10px;
    margin: 10px 4px;
    font-size: 17px;
    color: aliceblue;
    border: 2px solid white;
    background: none;
    cursor: pointer;
    border-radius: 8px;
}

.btn-sm{
    padding: 5px 15px;
    font-size: 10px;
    vertical-align: middle;
}

.content-section{
    max-width: 85%;
    height: 350px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sectionTag{
    font-size: 34px;
    margin: 7px;
    padding: 5px 0px;
    font-family: 'ubuntubold';
}

.right-section .thumbnail{
    padding: 50px;
}

.thumbnail-image{
    border-radius: 6px;
    border: 2px solid gray;
}

.right-section{
    flex-direction: row-reverse;
}

footer{
    margin: auto;
    width: 100%;
    color: whitesmoke;
    font-family: 'ubuntumedium';
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    background: hsl(0, 0%, 50%) ;
    background-size: cover;
    background-blend-mode: lighten;
}

.coloum p:first-child{
    font-family: 'ubuntubold';
    font-weight: 700;
}

.coloum p{
    padding: 5px 0px;
}

.coloum-5{
    justify-content: center;
    align-items: center;
}

.coloum-5 img{
    height: 120px;
    width: 120px;
    margin: 3% 0%;
    border-radius: 50%;
    border: 2px solid snow;
}