
@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../font/RobotoCondensed-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'RobotoCondensed-bold';
    src: url('../font/RobotoCondensed-Bold.ttf') format('woff2'),
         url('../font/RobotoCondensed-BoldItalic.ttf') format('woff');
    font-weight: bold;
    font-style: italic;

}

*{
    margin: 0;
    font-family: 'RobotoCondensed-Regular';
}

header{
    display: flex;
    justify-content: space-around;
    position: static;
    /* background-color: hsl(160, 100%, 75%); */
    background: url(../img/wallpaperflare.com_wallpaper\ \(4\).jpg);
}

.logo img{
    height: 50px;
    width: 50px;
    border: 1px solid hsl(0, 9%, 73%);
    border-radius: 50%;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list li{
    padding: 10px;
    list-style: none;
    background-color: hsla(0, 0%, 70%, 0.295);
    margin: 5px;
}

.nav-list li:hover{
    transform: scale(1.5);
    transition: 1000ms;
}

.nav-list li a{
    text-decoration: none;
    color: black;
}

.nav-list-a:hover{
    color: hsl(0, 0%, 100%);
}

.search-contener{
    display: inline;
    text-align: right;
    align-self: center;
}

.search{
    border-radius: 5px;
}

.box-main{
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
}

.fristHalf{
    padding: 10px;
    margin: 5px;
}

.text-big{
    font-family: 'RobotoCondensed-bold';
    font-size: 25px;
    margin: 5px;
    text-align: center;
}

.text-small{
    text-align: left;
    width: 70%;
}